@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.my-img {
  max-width: 1100px;
  height: 800px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 200px;
  position: relative;
}

.my-img div {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("./assets/uzb.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.product--image {
  width: 100%;
  object-fit: cover;
}

.card {
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.react-multiple-carousel__arrow {
  background-color: rgba(0, 0, 0, 0.662);
  z-index: 2;
}
